---
- name: "Verificar que las actualizaciones desatendidas est치n instaladas"
  ansible.builtin.apt:
    cache_valid_time: 3600
    name: "unattended-upgrades"
    state: "present"
    update_cache: true

- name: "Configuraci칩n de las actualizaciones desatendidas"
  ansible.builtin.import_tasks: configuracion.yml
  notify: "Reiniciar las actualizaciones desatendidas"

- name: "Copiar la configuraci칩n de las actualizaciones autom치ticas"
  ansible.builtin.copy:
    dest: "{{ __actualizaciones_automaticas }}"
    src: 20auto-upgrades
  notify: "Reiniciar las actualizaciones desatendidas"